{% extends "./base.html" %}
    {% block title %}
        {% if delete_mode %}
            Delete Members
        {% else %}
            Members
        {% endif %}
    {% endblock %}
{% block main %}
    {% if delete_mode %}
    <form action="/members/delete/" method="post">
    {% endif %}
  <table>
    <thead>
      {% if delete_mode %}
      <h1>Delete Members</h1>
      {% else %}
      <h1>Members</h1>
      {% endif %}
      <tr>
        {% if delete_mode %}
        <th>🗑</th>
        {% endif %}
        <th>ID</th>
        <th>Name</th>
        <th>Registration Time</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        {% if delete_mode %}
        <th>
          <input type="checkbox" name="delete" value="{{ member.memberid }}" />
        </th>
        {% endif %}
        <th>{{ member.memberid }}</th>
        <th>{{ member.name }}</th>
        <th>{{ member.registration_timestamp }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if delete_mode %}
  <button type="submit"><strong>Delete</strong></button>
</form>
{% else %}
<a href="/members/create">
  <button>
    <strong>+ add members</strong>
  </button>
</a>
<a href="/members/delete">
  <button>
    <strong>- delete members</strong>
  </button>
</a>
{% endif %}
{% endblock %}
