{% extends "./base.html" %} {% block title %} Members {% endblock %} {% block
main %}
<h1>Create a New Member</h1>
<form action="/books/create" method="post">
  <label for="name">Book ID</label>
  <input type="number" name="bookID" placeholder="Book ID" />
  <label for="name">Title</label>
  <input type="text" name="title" placeholder="Title" />
  <label for="authors">Authors</label>
  <input type="text" name="authors" placeholder="Authors" />
  <label for="isbn">ISBN</label>
  <input type="number" name="isbn" placeholder="ISBN" />
  <label for="language_code">Language Code</label>
  <input type="text" name="language_code" placeholder="Language Code" />
  <label for="publication_date">Publication Date</label>
  <input type="date" name="publication_date" placeholder="Language Code" />
  <label for="publisher">Publisher</label>
  <input type="text" name="publisher" placeholder="Publisher" />
  <label for="amount">Amount</label>
  <input type="number" name="amount" placeholder="Amount" />
  <button type="submit"><strong>Create</strong></button>
</form>
{% endblock %}
